# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# IDE
.vscode/

# OS
.DS_Store

# Config
# config.py

# Video files (ignore all except result)
*.mp4
!output.mp4

# Optional (если есть)
instance/
*.pt
